{% extends "base.html" %}

{% block title %}
Company-{{ comapny.name }}
{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1>{{ company.name }}</h1>
  <p>{{ company.detail }}</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class="row">
   <div class="col-md-8">
     <ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>zhangye
   </div>
   <div class="col-md-4">
      fdafa
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    ...
  </div>
</div>
   </div>
</div>
{% endblock %}
